
.navbar{
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 70px;
}

.logo {
 margin: 3px 30px;
}

.logo img {
  width: 94px;
}
 

.orders-and-cart{
    display: flex;
    flex-direction: row;
    width:fit-content;
    align-items: center;
    margin-top: -10px;
}

.profile-pic {
    height: 4vh;
    aspect-ratio: 1/1;
    background: #FFF;
}

.navbar ul{
    width:75vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    color: #383B39;
    gap: 60px;

}

.navbar ul button {
    font-size:1.5vh;
    width: fit-content;
    margin-left: 10px;
    background-color: #fff;
    color: #383B39;
}


.navbar ul li a {
  text-decoration: none;
  color: #383B39;
  font-weight: bold;
}

.navbar ul li a:hover {
    color: #3B684D !important;
}

.menuicon{
    visibility: hidden;
}

.dropdown{
    visibility: hidden;
}
@media only screen and (max-width: 768px){
    .main-nav-li{
        display: none;
    }

    .cart-btn, .user-btn{
        display: none;
    }

    .menuicon{
        position: absolute;
        visibility: visible;
        right:45px;
    }

    .navbar{
        align-items: space-between;
        padding:10px;
    }

    .orders-and-cart{
        display: flex;
        flex-direction: row;
        width:fit-content;
        align-items: center;
        margin-top: -10px;
    }

    .dropdown {
        visibility: visible;
        position: absolute;
        top: 80px; 
        right:45px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        display: none; 
        width:250px;
        align-items: center;
        justify-content: center;
      }
      
      .dropdown.visible {
        display: flex; 
        flex-direction: column;
      }
      
      .dropdown ul {
        display:flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
      
      .dropdown li {
        padding: 10px;
      }
      
      .dropdown li a {
        text-decoration: none;
        color: #383B39;
        font-weight: bold;
      }
      
      .dropdown li a:hover {
        color: #3B684D;
      }
}

