

.navbarProducts{
    background-color: var(--secondary-color);
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navbarProducts ul{
    margin-left:0;
    padding:0;
    width:75vw;
    margin:auto;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;

}

.navbarProducts ul li {
    padding:0;
    margin-left:0px;
    width:fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}