.navbar{
    background-color: #CFCFCF;
    overflow: hidden;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-bar{
    width: 30vw;
    height: 4vh;
    background-color: #FFFFFF;
}

.orders-and-cart{
    display: flex;
    flex-direction: row;
    width:fit-content;
    align-items: center;
}

.profile-pic {
    height: 4vh;
    aspect-ratio: 1/1;
    background: #FFF;
}

.navbar ul{
    width:75vw;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;

}

.navbar ul button {
    font-size:1.5vh;
    width: fit-content;
    margin-left: 10px;
}

