.search-bar{    
    width: 30vw;
    height: 4vh;;
    margin-top: -5px;
    color: #383B39;
    padding-left: 30px;
}

.search-bar input[type="text"] {
    width: 70%; 
    height: 100%; 
    padding: 20px;
    font-size: 1em; 
    border: 1px solid #ccc; 
    box-sizing: border-box;
    color: #383B39;
    
}
.search-results-dropdown {
    color: #383B39;
    background-color: #fff;
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 25%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 100;
    text-align: start;
}

.search-result-item {
    padding: 10px;
    border-bottom: 1px solid #CFCFCF;
    cursor: pointer;
    color: #383B39;
}

.search-result-item:hover {
    background-color: #fff;
    color: #383B39;
}

.search-result-item a {
    text-decoration: none;
    color: #383B39; 
}

.search-no-results {
    padding: 10px;
    text-align: center;
    color: #383B39;
}

@media only screen and (max-width: 768px){
    .search-bar{
        width:100% !important;
        margin:0;
    }

    .search-bar input{
        width:100% !important;
    }
    
    .search-results-dropdown{
        width:50%;
    }
}