.smaller-container{
    text-align: left;
}

.smaller-container button{
    margin:auto;
    width: 100%;
}

.css-ahj2mt-MuiTypography-root {
    font-weight: 400;
    font-size: 0.8em !important;

}

.addNewAddress{
    color:darkgray;
}

#demo-radio-buttons-group-label2{
    margin-top:40px;
}