
.product-details-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    width: 75vw;
    height: 130vh;
    margin:40px;
    overflow-x:hidden;
    overflow-y:auto;
}

.product-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-between;
    /*background-color: black;*/
    width: 75vw;
    height: 75vh;
}

.photos{
    /*background-color: aquamarine;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    width:60%;
}

.small-photos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    width: 30%;
}

.small-photos img {
    width:65%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.big-photo img{
    width:81.5%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.textual-info{
    display: flex;
    flex-direction: column;
    width: 40%;
    height:90%;
    /*background-color: blueviolet;*/
    gap:0;
    margin:0;
    align-items: flex-start;
    justify-content: center;
}

.info-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:30px;
    gap:10px;
}

.info-block p{
    margin:0;
    font-size: 0.8em;
}

.info-block h1,h2{
    margin:0;
}

.cor{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-bottom:20px;
}

.tamanho{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.circle{
    width:25px;
    height:25px;
    background-color: black;
    border-radius: 100%;
}

.addCart{
    width:60%;
    margin-bottom:30px;
}

.shipping{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}

input{
    height:35px;
}

.ratings-comments{
    display: flex;
    flex-direction: row;
    margin:20px;
    justify-content:flex-end;
    width: 75vw;
    height:65vh;
}

.ratingsDiv{
    margin:25px;
    width:30%;
    height:30%;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.commentsDiv{
    margin:25px;
}
/*.textual-info h2{
    margin:0;
}

.textual-info h1{
    margin:0;
}

.textual-info p{
    margin:0;
}*/