.color-selector {
  display: inline-block;
}

.color-options {
  display: flex;
  align-items: center;
}

.color-option {
  border: 2px solid transparent;
  cursor: pointer; 
  margin: 5px 0;
  height: 25px;
  width: 25px;
  border-radius: 50%; 
}

.color-option.selected {
  border: 2px solid #333;
}

.color-option:hover {
  transform: scale(1.1);
}
