.commentCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:100%;
    height:fit-content;
    border: 1px solid #DFDFDF;
    border-radius: 16px;
    justify-content: center;
    padding-left:0px;
    padding-top:15px;
    padding-bottom:15px;
    margin: 10px 0 10px 0;
}

.commentTop{
    margin-left:15px;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
}

.commentTop img{
    width:30px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.commentTop h3{
    margin:0;
}

.commentBottom{
    margin-left:20px;
    margin-top:5px;
}

.commentBottom p{
    margin:0;
}
