.priceContainer h1{
    font-size:1.8em;
}

.priceContainer p{
    font-size:1rem !important;
}

.priceContainer{
    display: flex;
    flex-direction: row !important;
    align-items: flex-end;
    gap:10px;
}