
.store-banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 700px;
    margin: 0;
    padding: 0;
  }

  .reverse-order {
    flex-direction: row-reverse;
  }
  
  .reverse-order .rectangle .circle {
    left: -135px;
  }
  
  .rectangle {
    background-size: cover;
    height: 550px;
    width: 550px;
    display: inline-block;
    position: relative;
    border-radius: 12px;
  }
  
  .rectangle .circle {
    background-size: cover;
    object-fit: cover;
    border-radius: 100%;
    height: 270px;
    width: 270px;
    position: absolute;
    bottom: 60px;
    right: -135px;
  }
  
  .store-info {
    width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .store-info h2 {
    font-size: 50px;
    margin: 0;
  }
  
  .store-info .category {
    color: #ffab44;
    font-weight: 500;
    margin: 0;
  }
  
  .store-info .store-title {
    color: var(--primary-brand);
  }
  
  .store-info .store-text {
    color: var(--primary-body);
    font-weight: 500;
  }
  