.card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    border-radius: 12px;
    background-color: #EFEFEF;
    margin:10px;
    height: 400px;
}

.card-product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-product img{
    margin-top: 25px;
    border-radius: 12px;
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%; 
    margin: 0 auto; 
    margin-bottom: 50px;
}*/

.card-product h2{
    width:80%;
    text-align: left;
    font-size: 18px;
    margin:auto;
    margin-top: 12px;
}

.bottom-info{
    width:80%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom:15px;
}

.bottom-info button{
    margin-top:0;
    margin-bottom:0;
    margin-left:auto;
    width: fit-content;
}

.bottom-info p{
    font-weight: 500;
    margin:0;
}

.bottom-info .star{
    margin-left:10px;
    margin-right:5px;
}

.bottom-info img{
    width:30px;
    aspect-ratio: 1/1;
    margin:auto;
    padding:10px;
    border: 1px solid #000;
}

.price-and-rating{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom:5px;
}