.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30vh;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    padding: 10px;
    padding-top:12px;
    margin:10px;
}

.card-div{
    display: flex;
    flex-direction: column;
}

.card img{
    border-radius: 4px;
    width: 28vh;
    height: 30vh;
    object-fit: cover;
}

/*.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%; 
    margin: 0 auto; 
    margin-bottom: 50px;
}*/

.card h2{
    font-size: 2vh;
    margin: 1.5vh;
    margin-bottom: 0;
}

.card p{
    font-size: 1.6vh;
    margin-bottom: 1.5vh;
    margin-top: 0;
}

.card button{
    font-size:1.5vh;
}

.btn2 a{
    color: var(--accent-color-text);
}