.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 250px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    padding: 10px;
    padding-top:12px;
    margin:10px;
}

.card-div{
    display: flex;
    flex-direction: column;
}

.card img{
    border-radius: 4px;
    width: 230px;
    height: 260px;
    object-fit: cover;
    margin-bottom:10px;
    margin-top:5px;
}

/*.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%; 
    margin: 0 auto; 
    margin-bottom: 50px;
}*/

.card h2{
    font-size: 18px;
    margin: 0 !important;
    margin-bottom:10px;
    margin-right:auto !important;
    margin-left: 10px !important;
}

.card p{
    font-size: 16px;
    font-weight: 500;
    margin:0;
    margin-bottom:10px;
    margin-right:auto;
    margin-left: 10px;
}

.card button{
    width:fit-content;
    margin-bottom:10px;
    margin-right:auto;
    margin-left: 10px;
}

.btn2 a{
    color: var(--accent-color-text);
}