/** {
    justify-content: center;
}*/

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.product-details-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #DFDFDF;
    width: 65vw;
    height:fit-content;
    margin:40px;
}

.product-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-between;
    /*background-color: black;*/
    width: 100%;
    height: fit-content;
    margin:15px;
}



.textual-info{
    display: flex;
    flex-direction: column;
    width: 40%;
    height:90%;
    /*background-color: blueviolet;*/
    gap:0;
    margin:0;
    align-items: flex-start;
    justify-content: center;
}

.info-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:20px;
    gap:10px;
}

.info-block p{
    margin:0;
    font-size: 0.8em;
}

.info-block h1,h2{
    margin:0;
}

.cor{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-bottom:20px;
}

.tamanho{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.circle{
    width:25px;
    height:25px;
    background-color: black;
    border-radius: 100%;
}

.addCart{
    width:60%;
    margin-bottom:30px;
}

.shipping{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}

input{
    height:35px;
}

.ratings-comments{
    display: flex;
    flex-direction: row;
    margin:20px;
    justify-content:space-between;
    width: 100%;
    height:fit-content;
}

.ratingsDiv{
    display: flex;
    align-items: flex-start;
    margin:25px;
    width:fit-content;
    height:fit-content;
}

.commentsDiv{
    width:60%;
    margin:25px;
}

@media only screen and (max-width: 900px) {
    .product-details-container{
        width:95%;
        margin-left:0;
        margin-right:0;
    }
    .photos{
        width:100%;
    }
    .product-info{
        align-items: center;
        justify-content: center;
    }
    .textual-info{
        margin-top:20px;
        width:90%;
        flex-direction: column;

    }
    .info-block{
        flex-direction: row;
        align-items: flex-end;
        justify-content: left;
        flex-wrap: wrap;
        width:100%;
    }
    .info-block h1,h2{
        text-align: left;
        width:90%;
        font-size:1.3em;
    }
    .addCart{
        width:100%;
    }
    .cor{
        margin:0;
    }
    .ratings-comments{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .shipping{
        justify-content: center;
    }

    .commentsDiv{
        width:90%;
    }
  }