
* {
    justify-content: center;
}

.bodyContainer{
  display: flex;
  flex-direction: column;
  gap: 2.6em;
}

.destaque {
  margin: auto;
  margin-top: 2.6em;
  width: 80vw;
  height: 30vh;
  background-color: #D1D1D1;
  border-radius: 5px;
}

.all-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 80vw;
    margin:auto;
    gap: 2.6em;
  }
  
  .title {
    font-size: 4vh; 
}
  
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width:100%;
    padding:0;
  }

 /* @media (max-width:600px){
    .card-grid {
        flex-direction: column; 
        align-items: center;
    }
    .produtos-title{
        font-size: 4vh;
        margin-top:6em;
        margin-bottom: 1em; 
    }
}
 */