.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.product-details-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #DFDFDF;
    width: 65vw;
    height:fit-content;
    margin:40px;
    color: #383B39 !important;
}

.product-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
    height: fit-content;
    margin:15px;
}



.textual-info{
    display: flex;
    flex-direction: column;
    width: 40%;
    height:90%;
    gap:0;
    margin:0;
    align-items: flex-start;
}

.info-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom:20px;
    gap:10px;
    
}

.info-block > * {
    align-self: flex-start;
  }
  

.info-block p{
    margin:0;
    font-size: 0.8em;
}

.info-block h1,h2{
    margin:0;
}

.cor{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-bottom:20px;
}

.tamanho{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.circle{
    width:25px;
    height:25px;
    background-color: black;
    border-radius: 100%;
}

.addCart{
    width:50% !important;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom:30px;
}



.shipping{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}

input{
    height:35px;
}

.ratings-comments {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    align-items: center; /* Alinha os itens verticalmente ao centro, ajuste conforme necessário */
    width: 100%;
    height: fit-content;
}

.ratingsDiv{
    display: flex;
    align-items: flex-start;
    margin:25px;
    width:fit-content;
    height:fit-content;
}

.ratingsButton {
    max-width: 50% !important;
    align-items: end;
    margin-bottom:30px;
    margin-right: 175px;
    position: relative;
}

.commentsDiv{
    width:60%;
    margin:25px;
}

@media only screen and (max-width: 900px) {
    .product-details-container{
        width:95%;
        margin-left:0;
        margin-right:0;
    }
    .photos{
        width:100%;
    }
    .product-info{
        align-items: center;
        justify-content: center;
    }
    .textual-info{
        margin-top:20px;
        width:90%;
        flex-direction: column;

    }
    .info-block{
        flex-direction: row;
        align-items: flex-end;
        justify-content: left;
        flex-wrap: wrap;
        width:100%;
    }
    .info-block h1,h2{
        text-align: left;
        width:90%;
        font-size:1.3em;
    }
    .addCart{
        width:100%;
    }
    .cor{
        margin:0;
    }
    .ratings-comments{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .commentsDiv{
        width:90%;
    }
  }

  .review-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    align-items: stretch;

  }

  .rating-stars {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  
  .rating-label,
  .comment-label {
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 12px;
  }
  
  .rating-input,
  .comment-textarea {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 12px;
  }
  
  .comment-textarea {
    height: 100px;
    resize: vertical;
  }
  
  .submit-review-button {
    background-color: #3B684D;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: auto 5px;
  }

  .submit-review-button:hover {
    background-color: #3B684D;
  }
  