.ruma {
    width:70%;
    display: flex;
    flex-direction: column;
    /* Adicione estilos adicionais para posicionar os containers conforme necessário */
}

.container1 {
    width:100%;
    margin-top: 30px;
    border-radius: 12px;
}

.container1 img {
    width: 100%;
    aspect-ratio: 27/10;
}

.container2 {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

.bottomImage {
    background-size: cover;
    width: 20vw;
    aspect-ratio: 1/1;
    display: inline-block;
    position: relative;
    border-radius: 12px;
  }
  
.topImage {
    background-size: cover;
    object-fit: cover;
    border-radius: 100%;
    height: 10vw;
    width: 10vw;
    position: absolute;
    bottom: 60px;
    right: -5vw;
  }

.text {
    max-width: 750px;
    margin: 0 100px;
    text-align: start;
}

.title p {
    color: #FFAB44 !important;
    font-weight: 700 !important;
    font-size: 16px;
    line-height: 24px;
}

.big-title {
    color: #3B684D;
    font-size: 50px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 30px;
}

.description {
    color: #383B39;
    font-size: 14px;
}

.container3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
}

.container3 .description {
    max-width: 624px;
    margin-bottom: 50px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media screen and (max-width: 768px) {
    .ruma{
        width: 80%;
    }

    .container2{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .bottomImage {
        width: 40vw;
      }
      
    .topImage {
        width: 20vw;
        height:20vw;
      }

    .text{
        max-width: 1000px;
        margin:0;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr); /* Altera para 2 colunas em telas menores */
      }
  }