
/* Estilos do container do formulário */
.form-container {
    background-color: white;
    padding: 20px;
    width: 50%;
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Organiza os filhos em coluna */
    align-items: center; /* Centraliza horizontalmente os filhos */
    color: #3B684D;
}

.modal-content .form-container {
    width: 90%; 
    padding: 10px; 
}

/* Estilização do formulário */


/* Estilização dos inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
    width: 100%;
}

/* Estilização do botão */
button {
    padding: 10px;
    background-color: 3B684D;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #3B684D;
}

/* Estilo do link de navegação */
.link {
    text-align: center;
    margin-top: 10px;
}

.link a {
    color: #3B684D;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

.reset-password-link, .sign-up-link {
    margin-top: 5px; /* Reduz o espaço acima dos parágrafos */
    margin-bottom: 5px; /* Reduz o espaço abaixo dos parágrafos */
}

/* Consultas de mídia para responsividade */
@media (max-width: 600px) {
    .form-container {
        width: 80%;
        padding: 15px; 
        box-shadow: none; 
    }
}
