.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaçamento entre os elementos */
    position: relative;
    width: 80%; /* Ajuste a largura conforme necessário */
    max-width: 800px; /* Limita a largura máxima */
    max-height: 600px;
    margin: auto; /* Centraliza o modal */
}

.text-container {
    flex: 1; /* Ocupa parte do espaço disponível */
    padding-left: 20px; /* Espaçamento entre o texto e a imagem */
}

.image-container {
    flex: 1; /* Ocupa parte do espaço disponível */
    display: flex;
    justify-content: flex-start; /* Alinha a imagem à esquerda */
}

.image-container img {
    max-width: 100%; /* Certifique-se de que a imagem se ajusta ao contêiner */
    height: auto;
}
