.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; /* Espaçamento entre os elementos */
    position: relative;
    width: 100%; 
    max-width: 80%; /* Limita a largura máxima */
    max-height: 600px;
    flex-direction: row;
    margin: auto;
}

.image-container, .text-container {
    flex: 1;
    margin: 10px;
}

.image-container img {
    width: 100%; /* Faz a imagem expandir para preencher o contêiner */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 100%; /* Garante que a imagem não exceda a altura do modal */
}

.text-container {
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Organiza os filhos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    margin: 10px;
}
