.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container h2{
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
}

.container button{
    width: 100%;
}

.checkout-container{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #DFDFDF;
    width: 65vw;
    min-height: 60vh;
    height:fit-content;
}

.smaller-container1{
    margin-top:40px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

