.container-checkout2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container-checkout2 h2{
    margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
}

.container-checkout2 button{
    width: 100%;
}

.checkout-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap:50px;
    border-radius: 12px;
    border: 1px solid #DFDFDF;
    width: 65vw;
    min-height: 60vh;
    height:fit-content;
}