/* ImageCarousel.css */
.carousel-container {
    display: flex;
    overflow: hidden;
    border-radius: 12px;
    margin: 25px 0;
    text-align: start;
  }
  
  .carousel-image {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
  }
  
  .carousel-caption {
    position: absolute;
    top: 12%;
    left: 12%;
    width: 400px;
    color:white;
    font-size: 2.5em;
    font-weight: 700;
    text-align: start;
  }
  
  @media screen and (max-width: 768px) {
    .carousel-container{
      width:80%;
      margin:auto;
    }

    .carousel-caption{
      font-size:28px;
      padding:10px;
    }
  }
  