.detailsContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-left:15px;
    margin-right:15px;
}

.detailsContainer img{
    width:80px;
    height:80px;
    object-fit: cover;
    border-radius: 10px;
}

.plusMinusContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.plusMinusContainer button{
    background-color: transparent !important;
    width:20px !important;
    border-radius: 50px;
    text-align: center;
    height:20px;
    padding:0;
    margin:5px !important;
    transition:none;
}

.plusMinusContainer button:hover{
    border:none !important;
}

.plusMinusContainer input{
    text-align: center;
    width:20px;
    height:20px;
}