:root {
  --primary-brand: #3B684D;
  --secondary-brand: #FFCD8F;
  --primary-background: #F0FAF0;
  --secondary-background: #FCFFFD;
  --tertiary-background: #EFEFEF;
  --primary-body: #383B39;
  --secondary-body: #696F6B;
}